@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"); */
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(202, 182, 229);
}
.middleBox {
  display: grid;
  /* text-align: center;
  justify-content: center; */
  grid-template-columns: repeat(3, 150px);
}
.bottomBox {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}
.interval {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 2px 1px rgb(200, 197, 204);
  background-color: white;
}
.circle {
  width: 100px;
  height: 100px;
  /* border: solid 1px rgb(46, 45, 48); */
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 197, 204);
  box-shadow: 3px 3px 2px 1px rgb(167, 165, 170);
}
span {
  text-decoration: red wavy underline;
}
.circle:hover {
  cursor: pointer;
  transform: scale(0.8);
}
.red {
  color: red;
}
